<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :page_title %><br>
    <%= f.text_field :page_title %>
  </div>

  <div class="field">
    <%= f.label :country_city %><br>
    <%= f.text_field :country_city %>
  </div>
  <div class="field">
    <%= f.label :year_of_birth %><br>
    <%= f.number_field :year_of_birth %>
  </div>
  <div class="field">
    <%= f.label :year_of_death %><br>
    <%= f.number_field :year_of_death %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :external_link %><br>
    <%= f.text_field :external_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <p>
    <br>
  <%= link_to 'Add new Image', new_image_path, class: "btn btn-primary" %>
  <%= link_to 'Add new Media', new_medium_path, class: "btn btn-primary" %>
  </p>
<% end %>
