<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Artist
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row" id="artist-grid">
    <% @artists.each do |artist| %>

    <div class="col-md-3">
      <div class="thumbnail">
        <% if artist.images.length > 0 %>
          <a href="<%= artist_path(artist) %>"><img alt="<%= artist.images.first.file_link%>" src="<%=artist.images.first.file_link%>"></a>
        <% else %>
          <a href="<%= artist_path(artist) %>"><img alt="This item needs an image!" src="<%= asset_path('artist.jpg') %>"></a>
        <% end %>

          <h3>
            <br>
            <%= link_to artist.name, artist %>
          </h3>
          <p>
            <% if current_admin %>
            <%= link_to 'Edit', edit_artist_path(artist) %> |
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>

      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
