<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Artist
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row">
    <% @artists.each do |artist| %>

    <div class="col-md-4">
      <div class="thumbnail">
        <% if artist.images.length > 0 %>
          <img alt="<%= artist.images.first.file_link%>" src="<%=artist.images.first.file_link%>">
        <% else %>
          <img alt="This item needs an image!" src="<%= asset_path('rc-logo.jpg')%>">
        <% end %>
        <div class="caption">
          <h3>
            <%= artist.name %>
          </h3>
          <p>
            Short text
          </p>
          <p>
            <%= link_to 'Show', artist, class:"btn btn-primary" %>
          </p>
          <p>
            <%= link_to 'Edit', edit_artist_path(artist) %>
          </p>
          <p>
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
