<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				<%= @artist.page_title %>
			</h1>
      <p id="notice"><%= notice %></p>
		</div>
		<div class="row">
			<div class="col-md-6 show">
        <% if @artist.images.length > 0 %>
  				<img alt="<%= @artist.images.first.file_link %>" src="<%= @artist.images.first.file_link %>">
        <% end %>
			</div>
			<div class="col-md-6">
				<h2>
					<%= @artist.name %>
				</h2>
				<p>
					<%= @artist.biography %>
				</p>

				<p>
					<strong>Location:</strong>
					<%= @artist.country_city %>
				</p>
				<p>
					<%= @artist.year_of_birth %> -
					<%= @artist.year_of_death %>
				</p>
				<p>
					<strong>Details:</strong>
					<%= @artist.details %>
				</p>
				<p>
					<strong>External link:</strong>
					<a href="<%= @artist.external_link %>"><%= @artist.external_link %></a>
				</p>
			</div>
		</div>

		<div class="row">
      <h2>Images by this Artist:</h2>
      <% @artist.items.each do |item| %>

  			<div class="col-md-3">
  				<div class="thumbnail">
            <% if item.images.length > 0 %>
  					  <img alt="<%= item.images.first.file_link%>" src="<%= item.images.first.file_link%>" />
            <% end %>
  					<div class="caption">
  						<h3>
  							<%= link_to item.work_title, item %>
  						</h3>
  						<p>
                Text abt this item.
  					  </p>
  						<p>
  							<%= link_to "Show", item, class: "btn btn-primary" %>
                <%= link_to item.room.name, item.room, class: "btn" %>
  						</p>
  					</div>
  				</div>
  			</div>

      <% end %>
		</div>

    <% if @artist.media.length > 0 %>
      <strong>Media about this Artist:</strong>
      <% @artist.media.each do |medium| %>
          <%= medium.file_link.html_safe %>
      <% end %>
    <% end %>
	</div>
</div>


<div class="row show-admin-box">
  <div class="col-md-12">
    <h1>ADMIN BOX</h1>
    <%= link_to 'Add new Image', new_image_path, class: "btn btn-primary" %>
    <%= link_to 'Add new Media', new_medium_path, class: "btn btn-primary" %>
    <%= link_to 'Edit Artist', edit_artist_path(@artist), class: "btn btn-primary" %>
    <%= link_to 'Destroy artist', @artist, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Artists Index', artists_path, class: "btn btn-primary" %>
  </div>
</div>
