<h1>BROWSE</h1>
<ul>
  <li><%= link_to 'Items', items_path %></li>
  <li><%= link_to 'Artists', artists_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>
  <li>Featured</li>
  <li>Recent Acquisitions</li>
</ul>


<h1>ADD</h1>
<ul>
  <li><%= link_to 'New Item', new_item_path %></li>
  <li><%= link_to 'New Artist', new_artist_path %></li>
  <li><%= link_to 'New Room', new_room_path %></li>
</ul>
