<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Floor
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row">
    <% @floors.each do |floor| %>

    <div class="col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            <%= floor.name %>
          </h3>
          <p>
            <%= link_to 'Show', floor, class:"btn btn-primary" %>
          </p>
          <% if current_admin %>
          <p>
            <%= link_to 'Edit', edit_floor_path(floor) %>
          </p>
          <p>
            <%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
