<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Room
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row">
    <% @rooms.each do |room| %>

    <div class="col-md-4">
      <div class="thumbnail">
        <% if room.images.length > 0 %>
          <img alt="<%= room.images.first.file_link%>" src="<%=room.images.first.file_link%>">
        <% else %>
          <img alt="This room needs an image!" src="<%= asset_path('rc-logo.jpg')%>">
        <% end %>
        <div class="caption">
          <h3>
            <%= room.name %>
          </h3>
          <p>
            located on floor <%= room.floor.name %>
          </p>
          <p>
            <%= link_to 'Show', room, class:"btn btn-primary" %>
          </p>
          <p>
            <%= link_to 'Edit', edit_room_path(room) %>
          </p>
          <p>
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
