<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Room
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row", id="rooms-grid">
    <% @rooms.each do |room| %>

    <div class="col-md-3">
      <div class="thumbnail">
        <% if room.images.length > 0 %>
          <a href="<%= room_path(room) %>"><img alt="<%= room.images.first.file_link%>" src="<%=room.images.first.file_link%>"></a>
        <% else %>
          <a href="<%= room_path(room) %>"><img alt="This room needs an image!" src="<%= asset_path('dicksondiaz.png')%>">
        <% end %>
        <div class="caption">
          <h3>
            <%= link_to room.name, room %>
          </h3>
          <p>
            located on floor <%= room.floor.name %>
          </p>
          <p>
            <% if current_admin %>
            <%= link_to 'Edit', edit_room_path(room) %> |
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
