<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				<%= @room.name %>
			</h1>
      <p id="notice"><%= notice %></p>
      <ul class="nav nav-pills">
        <li>
          <a href="#">Works</a>
        </li>
        <li>
          <a href="#">Artists</a>
        </li>
        <li>
          <a href="#">Media</a>
        </li>
      </ul>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2>
					<%= @room.name %>
				</h2>
				<p>
					Text about this room
				</p>
				<p>
					<a class="btn" href="#">View details »</a>
				</p>
			</div>
			<div class="col-md-6">
        <% if @room.images.length > 0 %>
  				<img alt="<%= @room.images.first.file_link %>" src="<%= @room.images.first.file_link %>">
        <% end %>
			</div>
		</div>

		<div class="row">
      <div class="col-md-12">
      <h2>Items in this Room:</h2>
      </div>
      <% @room.items.each do |item| %>

  			<div class="col-md-3">
  				<div class="thumbnail">
            <% if item.images.length > 0 %>
  					  <img alt="<%= item.images.first.file_link%>" src="<%= item.images.first.file_link%>" />
            <% end %>
  					<div class="caption">
  						<h3>
  							<%= link_to item.work_title, item %>
  						</h3>
  						<p>
                Text abt this item.
  					  </p>
  						<p>
  							<%= link_to "Show", item, class: "btn btn-primary" %>
                <%= link_to item.artist.name, item.artist, class: "btn" %>
  						</p>
  					</div>
  				</div>
  			</div>

      <% end %>
		</div>
    <div class="row">
      <div class="col-md-12">
      <!-- Artists in this Room:
      <ul>
        <% @room.artists.each do |artist| %>
          <li><%= link_to artist.name, artist %></li>
        <% end %>
      </ul> -->
      <% if @room.media.length > 0 %>
        <strong>Media about this room:</strong>
        <% @room.media.each do |medium| %>
          <%= medium.file_link.html_safe %>
        <% end %>
      <% end %>
    </div>
  	</div>


    <div class="row">
      <div class="col-md-12 show-admin-box">
        <h1>ADMIN BOX</h1>
        <%= link_to 'Add new Image', new_image_path, class: "btn btn-primary" %>
        <%= link_to 'Add new Media', new_medium_path, class: "btn btn-primary" %>
        <%= link_to 'Edit Room', edit_room_path(@room), class: "btn btn-primary" %>
        <%= link_to 'Destroy Room', @item, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Back to Rooms Index', rooms_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
