<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Item
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row" id="items-grid">
    <% @items.each do |item| %>

    <div class="col-md-3">
      <div class="thumbnail">
        <% if item.images.length > 0 %>
          <a href="<%= item_path(item) %>"><img alt="<%= item.images.first.file_link %>" src="<%= item.images.first.file_link %>"></a>
          <div class="caption">
        <% else %>
          <a href="<%= item_path(item) %>"><img alt="This item needs an image!" src="<%= asset_path('art.jpg')%>"></a>
          <div class="caption">
        <% end %>
          <h3>
            <%= link_to item.name, item %>
          </h3>
          <p>
            by <%= link_to item.artist.name, item.artist %>
          </p>
          <p>
            Location: <%= link_to item.room.name, item.room %> (floor <%= item.room.floor.name %>)
          </p>
          <% if item.gift_of.present? %>
            <p>
              Gift of: <%= item.gift_of %>
            </p>
          <% end %>
          <% if @current_admin %>
            <%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
