<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				<%= @item.work_title %>
			</h1>
      <p id="notice"><%= notice %></p>
		</div>
		<div class="show">
      <% if @item.images.length > 0 %>
				<img alt="<%= @item.images.first.file_link %>" src="<%= @item.images.first.file_link %>">
			<% else %>
				<img alt="Generic art image" src="<%= asset_path('art.jpg')%>" />
      <% end %>

	    <% if @item.images.length > 1 %>
			<div class="row">
	      <h2>More images:</h2>

	  			<div class="col-md-3">
	  				<div class="thumbnail">
	            <% 1.upto(@item.images.length-1) do |i| %>
	  					  <img alt="<%= item.images[i].file_link%>" src="<%= item.images[i].file_link%>" />
	            <% end %>
	  				</div>
	  			</div>
			</div>
    	<% end %>
		</div>
		<h2>
			About the item:
		</h2>
		<p>
			<%= @item.features %>
		</p>
    <p>
      <strong>Artist:</strong>
      <%= link_to @item.artist.name, @item.artist %>
    </p>

    <p>
      <strong>Room:</strong>
      <%= link_to @item.room.name, @item.room %>
    </p>

    <p>
      <strong>Type of item:</strong>
      <%= @item.type_of_item %>
    </p>

    <p>
      <strong>Material:</strong>
      <%= @item.material %>
    </p>

    <p>
      <strong>Date acquired:</strong>
      <%= @item.date_acquired %>
    </p>

    <p>
      <strong>Gift of:</strong>
      <%= @item.gift_of %>
    </p>

    <% if @item.media.length > 0 %>
      <strong>Media about this item:</strong>
      <% @item.media.each do |medium| %>
        <ul>
          <li><img src="<%= medium.file_link %>"</li>
        </ul>
      <% end %>
    <% end %>
	</div>
</div>

<% if @current_admin %>
<div class="row show-admin-box">
  <div class="col-md-12">
    <h1>ADMIN BOX</h1>
    <%= link_to 'Add new Image', new_image_path, class: "btn btn-primary" %>
    <%= link_to 'Add new Media', new_medium_path, class: "btn btn-primary" %>
    <%= link_to 'Edit Item', edit_item_path(@item), class: "btn btn-primary" %>
    <%= link_to 'Destroy Item', @item, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Items Index', items_path, class: "btn btn-primary" %>
  </div>
</div>
<% end %>
