<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @medium.type %>
</p>

<p>
  <strong>File link:</strong>
  <%= @medium.file_link %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
