<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        Browse By Image
      </h1>
      <p id="notice"><%= notice %></p>
    </div>

  <div class="row" id="images-grid">
    <% @images.each do |image| %>

    <div class="col-md-3">
      <div class="thumbnail">
        <img alt="<%= image.file_link%>" src="<%=image.file_link%>">
        <div class="caption">
          <h3>
            <%= image.imageable.name %>
          </h3>
          <p>
            <%= link_to 'Show', image.imageable, class:"btn btn-primary" %>
            <% if current_admin %>
            <%= link_to 'Edit', edit_image_path(image) %>
            <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
