<p id="notice"><%= notice %></p>

<p>
  <strong>Zoom:</strong>
  <%= @image.zoom %>
</p>

<p>
  <strong>File link:</strong>
  <%= @image.file_link %>
</p>

<p>
  <strong>Imagable ID:</strong>
  <%= @image.imageable_id %>
</p>

<p>
  <strong>Imageable Type:</strong>
  <%= @image.imageable_type %>
</p>

<div class="row show-admin-box">
  <div class="col-md-12">
    <h1>ADMIN BOX</h1>
    <%= link_to 'Add new Image', new_image_path, class: "btn btn-primary" %>
    <%= link_to 'Add new Media', new_medium_path, class: "btn btn-primary" %>
    <%= link_to 'Edit Image', edit_image_path(@image), class: "btn btn-primary" %>
    <%= link_to 'Destroy Image', @image, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back to Image Index', images_path, class: "btn btn-primary" %>
  </div>
</div>
