<!DOCTYPE html>
<html>
<head>
  <title>DigitalDocent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Items", items_path %></li>
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "Rooms", rooms_path %></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
